@import './variables';
@import './mixins';

body {
	margin: 0 auto;
	height: 100%;
	padding: 0 6px;
	font-size: $html-font-size;
	display: flex;
	flex-direction: column;
	background-color: $dark;
	color: $light;
	scroll-behavior: smooth;
}

main {
	padding-top: 4rem;
}

.wrapper {
	outline: 0.5px solid yellow;

	flex: 1 0 auto;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	position: relative;
	width: 100%;
	min-width: $mq-xs;

	@include media-xs {
		// width: $mq-xs;
	}

	@include media-sm {
		// width: $mq-sm;
		// width: 100%;
	}

	@include media-lg {
		width: $mq-lg;
	}

}


//*****common  components *****************////

.arrow {
	@include arrow($light, 1px, 4px);
	mix-blend-mode: normal;
	opacity: 0.8;
}

.down {
	transform: rotate(45deg);
}

.right {
	transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
}

//********* headers ***********************************//

.header {

	// .header__hero
	&__hero {
		font: 900 $font-size-hero $font-titles;
		letter-spacing: 0.1em;
		line-height: 1.3em;
		text-transform: uppercase;
		text-align: center;
		color: transparent;
		-webkit-text-stroke: 2px $orange;

		&:hover {
			-webkit-text-stroke: 2px $green;
		}
	}

}

.section__header {
	margin: $offset-basic * 4 auto;
	// margin: 0 auto;

	font: 700 $font-size-section $font-titles;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	transition: all 0.35s ease-in-out;

	&:hover {
		letter-spacing: 0.5em;
	}
}

.header__title {
	margin: $offset-basic * 2 auto;

	font: 700 $font-size-title $font-titles;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: $orange;
	transition: all 0.35s ease-in-out;

	&:hover {
		letter-spacing: 0.25em;
		text-shadow: 1px 1px 1px $green;
	}
}

.header__subtitle {
	font: 500 $font-size-subtitle $font-titles;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $orange;
}

//********* buttons ***********************************//

//********* Sections ***********************************//

.section__offset {
	margin: 5vw auto;
	// margin-top: 5vw;
}