@import './variables';
@import './mixins';

body {
	margin: 0 auto;
	height: 100%;
	padding: 0 6px;
	font-size: $html-font-size;
	display: flex;
	flex-direction: column;
	background-color: $dark;
	color: $light;
}

.wrapper {
	flex: 1 0 auto;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	position: relative;
	width: 100%;
	min-width: $mq-xs;

	@include media-xs {
		// width: $mq-xs;
	}

	@include media-sm {
		// width: $mq-sm;
		// width: 100%;
	}

	@include media-lg {
		width: $mq-lg;
	}

}


//*****common  components *****************////

.arrow {
	@include arrow($light, 1px, 4px);
	mix-blend-mode: normal;
	opacity: 0.8;
}

.down {
	transform: rotate(45deg);
}

.right {
	transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
}

//********* headers ***********************************//

.header {

	// .header__hero
	&__hero {
		font: 900 $font-size-hero $font-titles;
		letter-spacing: 0.1em;
		line-height: 1.3em;
		text-transform: uppercase;
		text-align: center;
		color: transparent;
		-webkit-text-stroke: 2px $orange;
		
	&:hover {
		-webkit-text-stroke: 2px $green;
	}
	}

}

.section__header {
	h2 {
		margin: 0 auto;
		text-align: center;
	}
}

.header {
	// .header__subtitle

	&__subtitle {
		display: block;
		font: 400 14px $font-titles;
		line-height: 120%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $light;
	}

	// .header__title

	&__title {
		display: block;
		font: 900 24px/31px $font-titles;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $orange;
	}

}

//********* buttons ***********************************//

//********* Sections ***********************************//

.section__offset {
	margin: 0 auto;
	// padding: 40px 0;

	// @include media-xs {
	// 	padding: 60px 0;
	// }

	// @include media-sm {
	// 	padding: 80px 0;
	// }

	// @include media-md {}

	// @include media-lg {
	// 	padding: 100px 0;
	// }

	// @include media-xl {
	// 	padding: 140px 0;
	// }
}

// .wrapper__container {
// 	margin: 0 auto;
// 	width: $mq-xxs-container;

// 	@include media-xs {
// 		width: $mq-xs-container;
// 	}

// 	@include media-sm {
// 		width: $mq-sm-container;
// 	}

// 	@include media-md {
// 		width: $mq-md-container;
// 	}

// 	@include media-lg {
// 		width: $mq-lg-container;
// 	}

// 	@include media-xl {
// 		width: $mq-xl-container;
// 	}
// }

// .wrapper__inner {
// 	margin-top: 24px;

// 	@include media-xs {
// 	}

// 	@include media-sm {
// 	margin-top: 40px;
// 	}

// 	@include media-md {
// 	margin-top: 60px;
// 	}

// 	@include media-lg {
// 	margin-top: 80px;
// 	}

// 	@include media-xl {
// 	margin-top: 180px;
// 	}
// }