.actual {}

.actual__inner {}

.project__card {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 50% 20% auto;
	grid-template-rows: auto repeat(3, 150px);
	gap: 1vw;
	grid-template-areas:
		'title title title'
		'gallery techno description'
		'gallery techno description'
		'gallery techno links';
}

.project__title {
	grid-area: title;
	margin: 0 auto;
}

.project__gallery {
	grid-area: gallery;

	&.showFull{
		position: fixed;
		top: 0;
		left: 0;
		padding: 10vh 10vw;
		height: 100vh;
		width: 100vw;
		background-color: $orange;
		z-index: $z-index-modal;
	}
}

.project__pic {
	outline: 1px solid green;

	display: none;

	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);

	animation: fade 5s linear;

	// width: 100%;

	&.showSlide {
		display: block;
	}

}

@keyframes fade {
	0% {
		opacity: 0.5;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}


.project__img {
	outline: 1px solid yellow;

	// background-color: $light;
	width: 100%;
	// width: inherit;
	// height: 100%;
}

.svg__icon {
	height: 5vw;
	width: 5vw;

	fill: $light;
	transition: all 0.35s ease-in-out;

	&:hover {
		fill: $orange;
	}
}

.project__technologies {
	grid-area: techno;
}

.project__icon {}

.project__description {
	grid-area: description;
}

.project__name {}

.project__links {
	grid-area: links;
}

.project__link {}