.contacts__inner{

	margin: $offset-basic auto;
	padding: $offset-basic;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}

.contacts__form {
	margin: $offset-basic *2;
	padding: $offset-basic;
	flex: 1 0 auto;
	width: 50%;
}

.contacts__links{
	margin: $offset-basic *2;
	padding: $offset-basic;
	flex: 1 0 auto;
	width: 30%;
}

.form__wrapper {
	// width: 100%;
}

.form__body {
	// width: 90%;
	margin: $offset-basic auto;
	padding: $offset-basic;
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;
}

.form__item {
	@include borderDefault;
	margin: $offset-basic;
	padding: $offset-basic;
}

.form__label {}

.form__btn {

	@include borderDefault;
	margin: $offset-basic *4 auto;
	padding: $offset-basic *2;
	width: 50%;
	transition: all 0.3s ease-in-out;
	color: $dark;
	background-color: $green;

	font: 700 $font-size-subtitle $font-titles;
	text-transform: uppercase;

	&:hover {
		color: $light;
		background-color: $orange;
		box-shadow: 2px 2px 10px $green, -2px -2px 10px $green;
	}

}