@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
  height: 100%;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #19283F;
  color: #F5F5F5;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

main {
  padding-top: 4rem;
}

.wrapper {
  outline: 0.5px solid yellow;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  width: 100%;
  min-width: 374px;
}

@media (min-width: 767px) {
  .wrapper {
    width: 767px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    width: 1920px;
  }
}

.arrow {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px;
  border: solid #F5F5F5;
  border-width: 0 1px 1px 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header__hero {
  font: 900 5rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #F97F29;
}

.header__hero:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.section__header {
  margin: 16px auto;
  font: 700 2rem "Roboto", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.section__header:hover {
  letter-spacing: 0.5em;
}

.header__title {
  margin: 8px auto;
  font: 700 1.7rem "Roboto", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #F97F29;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.header__title:hover {
  letter-spacing: 0.25em;
  text-shadow: 1px 1px 1px #DFF296;
}

.header__subtitle {
  margin: 8px auto;
  font: 500 1.3rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #F97F29;
}

.section__offset {
  margin: 2rem auto;
  padding-top: 2rem;
}

@media (min-width: 1280px) {
  .section__offset {
    margin: 4rem auto;
    padding-top: 4rem;
  }
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 4px;
  border: 1px solid #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #F97F29;
  border: 1px solid #DFF296;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #DFF296;
  border-color: #F97F29;
}

.header {
  position: fixed;
  height: 4rem;
  top: 0;
  padding: 8px 0;
  z-index: 10;
  width: 100%;
  background-color: #19283F;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__item {
  display: block;
  margin: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #F97F29;
}

.logo__item:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.header__menu {
  cursor: auto;
}

.menu {
  position: relative;
  display: none;
}

@media (min-width: 767px) {
  .menu {
    display: block;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

@media (min-width: 767px) {
  .menu__body {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__item {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  width: 90%;
  margin: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.menu__item:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

@media (min-width: 767px) {
  .menu__item {
    width: auto;
    height: auto;
  }
}

.menu__link {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.menu__link:hover {
  color: #19283F;
}

@media (min-width: 767px) {
  .menu__link {
    padding: 4px;
    line-height: 2rem;
    font-size: 16px;
    width: auto;
  }
}

@media (min-width: 1280px) {
  .menu__link {
    font-size: 1.5rem;
    line-height: 1.25rem;
    padding: 8px 16px;
  }
}

.cv {
  background-color: #DFF296;
  border-color: #F97F29;
}

.cv .menu__link {
  color: #19283F;
}

.cv:hover {
  border-color: #19283F;
}

.menu__btn {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

@media (min-width: 767px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn--svg {
  padding: 4px;
  width: 3rem;
  height: 3rem;
  fill: #F5F5F5;
}

.menu__btn--svg:hover {
  fill: #F97F29;
}

.menu__modal {
  display: block;
  position: fixed;
  top: 4rem;
  height: calc(100vh - 4rem);
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #F97F29;
}

.footer {
  margin: 8px auto;
  padding: 4px;
  text-align: center;
  font: 500 1.7rem "Roboto", Arial, sans-serif;
  font-size: 1rem;
}

.special__mark {
  color: #F97F29;
}

.icon__svg {
  margin: 4px;
  display: block;
  height: 50px;
  width: 50px;
  fill: #F5F5F5;
  stroke: #F5F5F5;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon__svg:hover {
  stroke: #F97F29;
  fill: #F97F29;
}

@media (min-width: 1280px) {
  .icon__svg {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 1920px) {
  .icon__svg {
    height: 100px;
    width: 100px;
  }
}

.icon__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  margin: 4vw auto;
}

.hero__word {
  font: 900 2rem "Roboto", Arial, sans-serif;
  letter-spacing: -0.35em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #F5F5F5;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (min-width: 767px) {
  .hero__word {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  .hero__word {
    -webkit-text-stroke: 2px #F5F5F5;
    font-size: 6rem;
  }
}

@media (min-width: 1920px) {
  .hero__word {
    font-size: 8rem;
  }
}

.hero__word:hover {
  -webkit-text-stroke: 2px #F97F29;
  letter-spacing: 0.2em;
}

.hero__word:hover .hero__letter {
  -webkit-text-stroke: 2px #F97F29;
}

@media (min-width: 1280px) {
  .hero__word:hover .hero__letter {
    -webkit-text-stroke: 4px #F97F29;
  }
}

.hero__letter {
  letter-spacing: 0.15em;
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke: 1px #DFF296;
}

@media (min-width: 1280px) {
  .hero__letter {
    -webkit-text-stroke: 2px #DFF296;
  }
}

.hero__profession {
  color: #F97F29;
  font: 900 2rem "Roboto", Arial, sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero__profession:hover {
  text-shadow: 1px 1px 5px #DFF296;
  letter-spacing: 0.1em;
}

@media (min-width: 767px) {
  .hero__profession {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  .hero__profession {
    font-size: 6rem;
  }
}

.hero__social {
  margin: 16px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__span {
  display: block;
  margin: 8px;
  text-align: center;
  text-transform: capitalize;
}

.hero__item {
  margin: 8px 32px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero__item .hero__link {
  color: #F5F5F5;
}

.hero__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero__item:hover .hero__link {
  color: #F97F29;
}

.actual {
  margin-top: 32px;
}

.actual__inner {
  margin-top: 32px;
}

.project__card {
  margin: 16px auto;
}

@media (min-width: 1280px) {
  .project__card {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: center;
    gap: 1%;
    -ms-grid-columns: 50% 20% auto;
        grid-template-columns: 50% 20% auto;
    -ms-grid-rows: auto (135px)[2] auto;
        grid-template-rows: auto repeat(2, 135px) auto;
        grid-template-areas: 'title title title' 'gallery techno description' 'gallery techno description' 'gallery techno links';
  }
}

@media (min-width: 1920px) {
  .project__card {
    -ms-grid-columns: 65% 15% auto;
        grid-template-columns: 65% 15% auto;
  }
}

.project__title {
  margin: 8px auto;
  grid-area: title;
}

@media (min-width: 1920px) {
  .project__title {
    font-size: 2rem;
  }
}

.project__gallery {
  margin: 8px auto;
  width: 95%;
  grid-area: gallery;
}

.project__gallery.showFull {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10vh 10vw;
  height: 100vh;
  width: 100vw;
  background-color: #F97F29;
  z-index: 1000;
}

.project__gallery.showFull .project__img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.project__pic {
  display: none;
  -webkit-animation: fade 5s linear;
          animation: fade 5s linear;
}

.project__pic.showSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.project__img {
  background-color: #F5F5F5;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 14 / 9;
}

.project__technologies {
  grid-area: techno;
  margin: 4px;
}

.project__technologies.icon__item {
  -webkit-transition: -webkit-box-ordinal-group 3s linear;
  transition: -webkit-box-ordinal-group 3s linear;
  transition: order 3s linear;
  transition: order 3s linear, -webkit-box-ordinal-group 3s linear, -ms-flex-order 3s linear;
}

.project__description {
  grid-area: description;
  margin: 4px;
  padding: 8px;
  line-height: 150%;
}

@media (min-width: 1920px) {
  .project__description {
    font-size: 1.5rem;
  }
}

.project__name {
  color: #F97F29;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
}

@media (min-width: 1920px) {
  .project__name {
    font-size: 2rem;
  }
}

.project__links {
  margin: 4px;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__link {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  margin: 8px;
  padding: 0 8px;
  display: inline-block;
  width: 96%;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.project__link:hover {
  color: #19283F;
  background-color: #F97F29;
}

@media (min-width: 767px) {
  .project__link {
    width: auto;
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  .project__link {
    padding: 8px;
    line-height: 1.25rem;
  }
}

.future {
  margin-top: 32px;
}

.future__inner {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1280px) {
  .future__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about {
  width: 96%;
}

@media (min-width: 1280px) {
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__bio {
  margin: 32px auto;
  line-height: 2rem;
}

@media (min-width: 1280px) {
  .about__bio {
    font-size: 1.5rem;
  }
}

.about__skills {
  margin: 32px auto;
}

@media (min-width: 1280px) {
  .about__skills {
    width: 50%;
  }
}

.about__stats {
  position: relative;
  margin: 16px auto;
}

.about__pic {
  width: 100%;
}

.about__img {
  width: 100%;
  border: 1px solid #F97F29;
  aspect-ratio: 4;
}

.about__gallery {
  margin: 16px auto;
  position: relative;
}

.about__link {
  height: 100%;
}

.about__link:hover .about__tip {
  visibility: visible;
  opacity: 1;
}

.about__tip {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  padding: 8px;
  border: 1px solid #F97F29;
  border-radius: 4px;
  color: #F97F29;
  background-color: #19283F;
  visibility: hidden;
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 25px #DFF296, -5px -5px 25px #DFF296;
          box-shadow: 5px 5px 25px #DFF296, -5px -5px 25px #DFF296;
}

.contacts__inner {
  margin: 4px auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 767px) {
  .contacts__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__form {
  margin: 8px auto;
  padding: 4px;
  width: 90%;
}

@media (min-width: 767px) {
  .contacts__form {
    width: MIN(600px, 50vw);
  }
}

.form__body {
  margin: 4px auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__item {
  border: 4px solid #F5F5F5;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  font-size: 1.25rem;
  color: #19283F;
  font-weight: 700;
}

.form__item:invalid {
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.form__item:placeholder-shown {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__item:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.form__item:valid {
  background-color: #DFF296;
  border: 4px solid #DFF296;
}

.form__text {
  resize: vertical;
}

.form__invalid {
  color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.form__tooltip {
  display: none;
}

.form__error {
  display: inline;
  letter-spacing: 0;
  text-transform: lowercase;
  color: #F97F29;
}

.form__label {
  margin: 8px;
  margin-bottom: 0;
  font: 500 1.3rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: left;
}

.form__btn {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  margin: 16px auto;
  padding: 8px;
  width: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #19283F;
  background-color: #DFF296;
  font: 700 1.3rem "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}

.form__btn:hover {
  color: #F5F5F5;
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.form__btn:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.contacts__links {
  margin: 16px auto;
  padding: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.social__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  justify-items: flex-start;
}

@media (min-width: 767px) {
  .social__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) {
  .social__body {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.social__item {
  margin: 4px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:hover {
  color: #F97F29;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 70px;
  color: #F5F5F5;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.social__link:hover {
  color: #F97F29;
}

.social__link:hover .social__svg {
  stroke: #F97F29;
  fill: #F97F29;
}

@media (min-width: 1280px) {
  .social__link {
    width: 100px;
  }
}

.social__svg {
  height: 25px;
  width: 25px;
}

@media (min-width: 1280px) {
  .social__svg {
    width: 50px;
    height: 50px;
  }
}

.social__span {
  margin: 4px;
  text-transform: capitalize;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.social__data {
  display: block;
  margin: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.25rem;
}

@media (min-width: 767px) {
  .social__data {
    font-size: 1.5rem;
  }
}

@media (min-width: 1920px) {
  .social__data {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */