@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #19283F;
  color: #F5F5F5;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  width: 100%;
  min-width: 374px;
}

@media (min-width: 752px) {
  .wrapper {
    width: 752px;
  }
}

@media (min-width: 1240px) {
  .wrapper {
    width: 1240px;
  }
}

@media (min-width: 1900px) {
  .wrapper {
    width: 1900px;
  }
}

.arrow {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px;
  border: solid #F5F5F5;
  border-width: 0 1px 1px 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header__hero {
  font: 900 5rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #F97F29;
}

.header__hero:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.section__header {
  margin: 16px auto;
  font: 700 2rem "Roboto", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.section__header:hover {
  letter-spacing: 0.25em;
}

@media (min-width: 752px) {
  .section__header:hover {
    letter-spacing: 0.5em;
  }
}

@media (min-width: 1900px) {
  .section__header {
    margin: 2vw auto;
    font-size: 4rem;
  }
}

.header__title {
  margin: 8px auto;
  font: 700 1.7rem "Roboto", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #F97F29;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.header__title:hover {
  letter-spacing: 0.25em;
  text-shadow: 1px 1px 1px #DFF296;
}

@media (min-width: 1900px) {
  .header__title {
    margin: 2vw auto;
    font-size: 3.4rem;
  }
}

.header__subtitle {
  margin: 8px auto;
  font: 500 1.3rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #F97F29;
}

@media (min-width: 1900px) {
  .header__subtitle {
    margin: 2vw auto;
    font-size: 2.6rem;
  }
}

.section__offset {
  margin: 2rem auto;
  padding-top: 2rem;
}

@media (min-width: 1240px) {
  .section__offset {
    margin: 4rem auto;
    padding-top: 4rem;
  }
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 4px;
  border: 1px solid #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #F97F29;
  border: 1px solid #DFF296;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #DFF296;
  border-color: #F97F29;
}

.header {
  position: fixed;
  height: 4rem;
  top: 0;
  padding: 8px 0;
  z-index: 10;
  width: 100%;
  background-color: #19283F;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 752px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__item {
  display: block;
  margin: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #F97F29;
}

.logo__item:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.header__menu {
  cursor: auto;
}

.menu {
  position: relative;
  display: none;
}

@media (min-width: 752px) {
  .menu {
    display: block;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

@media (min-width: 752px) {
  .menu__body {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__item {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  width: 90%;
  margin: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.menu__item:focus-within {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

@media (min-width: 752px) {
  .menu__item {
    width: auto;
    height: auto;
  }
}

.menu__link {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.menu__link:hover {
  color: #19283F;
}

@media (min-width: 752px) {
  .menu__link {
    padding: 4px;
    line-height: 2rem;
    font-size: 16px;
    width: auto;
  }
}

@media (min-width: 1240px) {
  .menu__link {
    font-size: 1.5rem;
    line-height: 1.25rem;
    padding: 8px 16px;
  }
}

.cv {
  background-color: #F5F5F5;
  border-color: #F97F29;
}

.cv .menu__link {
  color: #19283F;
}

.cv:hover {
  border-color: #19283F;
}

.menu__btn {
  position: absolute;
  border-radius: 4px;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

@media (min-width: 752px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn--svg {
  padding: 4px;
  width: 3rem;
  height: 3rem;
  fill: #F5F5F5;
}

.menu__btn--svg:hover {
  fill: #F97F29;
}

.menu__modal {
  display: block;
  position: fixed;
  top: 4rem;
  height: calc(100vh - 4rem);
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #F97F29;
}

.footer {
  margin: 8px auto;
  padding: 4px;
  text-align: center;
  font: 500 1.7rem "Roboto", Arial, sans-serif;
  font-size: 1rem;
}

.special__mark {
  color: #F97F29;
}

.icon__svg {
  margin: 4px;
  display: block;
  height: 50px;
  width: 50px;
  fill: #F5F5F5;
  stroke: #F5F5F5;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon__svg:hover {
  stroke: #F97F29;
  fill: #F97F29;
}

.icon__svg:focus {
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

@media (min-width: 1240px) {
  .icon__svg {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 1900px) {
  .icon__svg {
    height: 100px;
    width: 100px;
  }
}

.icon__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  margin: 4vw auto;
}

.hero__word {
  font: 900 2rem "Roboto", Arial, sans-serif;
  letter-spacing: -0.35em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #F5F5F5;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (min-width: 752px) {
  .hero__word {
    font-size: 4rem;
  }
}

@media (min-width: 1240px) {
  .hero__word {
    -webkit-text-stroke: 2px #F5F5F5;
    font-size: 6rem;
  }
}

@media (min-width: 1900px) {
  .hero__word {
    font-size: 8rem;
  }
}

.hero__word:hover {
  -webkit-text-stroke: 2px #F97F29;
  letter-spacing: 0.2em;
}

.hero__word:hover .hero__letter {
  -webkit-text-stroke: 2px #F97F29;
}

@media (min-width: 1240px) {
  .hero__word:hover .hero__letter {
    -webkit-text-stroke: 4px #F97F29;
  }
}

.hero__letter {
  letter-spacing: 0.15em;
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke: 1px #DFF296;
}

@media (min-width: 1240px) {
  .hero__letter {
    -webkit-text-stroke: 2px #DFF296;
  }
}

.hero__profession {
  color: #F97F29;
  font: 900 2rem "Roboto", Arial, sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero__profession:hover {
  text-shadow: 1px 1px 5px #DFF296;
  letter-spacing: 0.1em;
}

@media (min-width: 752px) {
  .hero__profession {
    font-size: 4rem;
  }
}

@media (min-width: 1240px) {
  .hero__profession {
    font-size: 6rem;
  }
}

.hero__social {
  margin: 4px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__span {
  display: block;
  margin: 8px;
  text-align: center;
  text-transform: capitalize;
}

.hero__item {
  margin: 8px 16px;
  padding: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero__item .hero__link {
  color: #F5F5F5;
}

.hero__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero__item:hover .hero__link {
  color: #F97F29;
}

.hero__item:hover .icon__svg {
  stroke: #F97F29;
  fill: #F97F29;
}

.hero__item:focus {
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

@media (min-width: 752px) {
  .hero__item {
    margin: 8px 32px;
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  position: relative;
}

.gallery.showFull {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: MIN(10vh, 25px);
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 50;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.gallery.showFull .gallery__img {
  margin: 0 auto;
  width: auto;
  border: 1px solid #F97F29;
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.gallery.showFull .gallery__navigation {
  z-index: 100;
}

.gallery:hover .gallery__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.project__gallery {
  grid-area: gallery;
  margin: 8px auto;
  width: 96%;
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
  border-radius: 4px;
  height: 500px;
}

.gallery__img {
  border-radius: 4px;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  border: 1px solid #F97F29;
}

.gallery__pic {
  display: none;
  -webkit-animation: fadeIn 2s linear;
          animation: fadeIn 2s linear;
}

.gallery__pic.showSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.gallery__navigation {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 752px) {
  .gallery__navigation {
    width: 70%;
    display: none;
    opacity: 0;
  }
}

.gallery__navigation--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.gallery__btn {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  margin: 8px auto;
  padding: 4px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: #19283F;
  background-color: #DFF296;
  font: 500 1rem "Roboto", Arial, sans-serif;
}

@media (min-width: 752px) {
  .gallery__btn {
    font: 700 1rem "Roboto", Arial, sans-serif;
    text-transform: uppercase;
  }
}

.gallery__btn:hover {
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.gallery__btn:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.gallery__btn.gallery__btn--active {
  background-color: #F97F29;
}

.actual {
  margin-top: 32px;
}

.actual__inner {
  margin-top: 32px;
}

.project__card {
  margin: 32px auto;
}

@media (min-width: 1240px) {
  .project__card {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: center;
    gap: 1%;
    -ms-grid-columns: 45% 15% auto;
        grid-template-columns: 45% 15% auto;
        grid-template-areas: 'title title title' 'gallery techno description' 'gallery techno description' 'gallery techno links';
  }
}

@media (min-width: 1900px) {
  .project__card {
    margin: 4vw auto;
  }
}

.project__title {
  margin: 8px auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.project__gallery {
  grid-area: gallery;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 8px auto;
  width: 96%;
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
  border-radius: 4px;
  height: 500px;
}

.project__technologies {
  grid-area: techno;
  margin: 2vw auto;
}

@media (min-width: 1240px) {
  .project__technologies {
    margin: 0 auto;
  }
}

.project__description {
  grid-area: description;
  margin: 4px;
  padding: 8px;
  line-height: 150%;
}

@media (min-width: 1900px) {
  .project__description {
    font-size: 1.5rem;
  }
}

.project__name {
  color: #F97F29;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  text-transform: capitalize;
}

@media (min-width: 1900px) {
  .project__name {
    font-size: 2rem;
  }
}

.project__special {
  margin-right: 4px;
  color: #F97F29;
  font-weight: 700;
}

@media (min-width: 1900px) {
  .project__special {
    margin-right: 1rem;
  }
}

.project__special--link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  color: #F97F29;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.project__special--link:hover, .project__special--link:focus {
  background-color: #DFF296;
  color: #19283F;
}

.project__links {
  margin: 4px;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__link {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  border-radius: 16px;
  margin: 8px;
  padding: 0 8px;
  display: inline-block;
  width: 96%;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.project__link:hover {
  color: #19283F;
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

@media (min-width: 752px) {
  .project__link {
    padding: 8px;
    width: auto;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1900px) {
  .project__link {
    padding: 16px;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.future {
  margin-top: 64px;
}

.future__inner {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.future__card {
  margin-top: 32px;
  width: 96%;
}

@media (min-width: 752px) {
  .future__card {
    width: 48%;
  }
}

.about {
  width: 96%;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__bio {
  margin: 32px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
}

@media (min-width: 1240px) {
  .about__bio {
    font-size: 1.5rem;
  }
}

.about__skills {
  margin: 32px auto;
}

@media (min-width: 1240px) {
  .about__skills {
    width: 30%;
  }
}

.about__stats {
  position: relative;
  margin: 16px auto;
}

@media (min-width: 1240px) {
  .about__stats {
    margin-top: 4vw;
  }
}

.about__pic {
  width: 100%;
}

.about__img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #F97F29;
}

.github--stats {
  aspect-ratio: 4;
}

.certificates {
  aspect-ratio: 18/5;
}

.about__link {
  margin-top: 32px;
  height: 100%;
}

.about__link:hover .about__tip {
  visibility: visible;
  opacity: 1;
}

.about__link:hover .about__img {
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.about__link:focus .about__img {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.about__tip {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #F97F29;
  border-radius: 4px;
  color: #F97F29;
  background-color: #19283F;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 25px #DFF296, -5px -5px 25px #DFF296;
          box-shadow: 5px 5px 25px #DFF296, -5px -5px 25px #DFF296;
}

.contacts__inner {
  margin: 4px auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 752px) {
  .contacts__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__form {
  margin: 8px auto;
  padding: 4px;
  width: 90%;
}

@media (min-width: 752px) {
  .contacts__form {
    width: MIN(600px, 50vw);
  }
}

.form__body {
  margin: 4px auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__item {
  border: 4px solid #F5F5F5;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  font-size: 1.25rem;
  color: #19283F;
  font-weight: 700;
}

.form__item:invalid {
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.form__item:placeholder-shown {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__item:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.form__item:valid {
  background-color: #DFF296;
  border: 4px solid #DFF296;
}

.form__text {
  resize: vertical;
}

.form__invalid {
  color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
          box-shadow: 2px 2px 10px #F97F29, -2px -2px 10px #F97F29;
}

.form__tooltip {
  display: none;
}

.form__error {
  display: inline;
  letter-spacing: 0;
  text-transform: lowercase;
  color: #F97F29;
}

.form__label {
  margin: 8px;
  margin-bottom: 0;
  font: 500 1.3rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: left;
}

.form__btn {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  margin: 16px auto;
  padding: 8px;
  width: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #19283F;
  background-color: #DFF296;
  font: 700 1.3rem "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}

.form__btn:hover {
  color: #F5F5F5;
  background-color: #F97F29;
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.form__btn:focus {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.contacts__links {
  margin: 16px auto;
  padding: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (min-width: 1900px) {
  .contacts__links {
    margin-left: 5vw;
  }
}

.social__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

@media (min-width: 752px) {
  .social__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1240px) {
  .social__body {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.social__item {
  margin: 4px;
  padding: 8px;
  border-radius: 16px;
}

.social__item:hover {
  -webkit-box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
          box-shadow: 2px 2px 10px #DFF296, -2px -2px 10px #DFF296;
}

.social__item:focus-within {
  -webkit-box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
          box-shadow: 2px 2px 10px #F5F5F5, -2px -2px 10px #F5F5F5;
}

.social__link {
  color: #F5F5F5;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
      grid-template-areas: "icon data" "title data";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.social__link:hover {
  color: #F97F29;
}

.social__link:hover .social__svg {
  stroke: #F97F29;
  fill: #F97F29;
}

.social__svg {
  height: 25px;
  width: 25px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

@media (min-width: 1240px) {
  .social__svg {
    width: 50px;
    height: 50px;
  }
}

.social__title {
  margin: 4px;
  text-transform: capitalize;
  font-size: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.social__data {
  margin: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.25rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: data;
  justify-self: flex-start;
}

@media (min-width: 752px) {
  .social__data {
    font-size: 1.5rem;
  }
}

@media (min-width: 1900px) {
  .social__data {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */