@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
  height: 100%;
  padding: 0 6px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #19283F;
  color: #F5F5F5;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 auto;
  position: relative;
  width: 1279px;
}

.arrow {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px;
  border: solid #F5F5F5;
  border-width: 0 1px 1px 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header__hero {
  font: 900 5rem "Roboto", Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #F97F29;
}

.header__hero:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.section__header h2 {
  margin: 0 auto;
  text-align: center;
}

.header__subtitle {
  display: block;
  font: 400 14px "Roboto", Arial, sans-serif;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F5F5F5;
}

.header__title {
  display: block;
  font: 900 24px/31px "Roboto", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F97F29;
}

.section__offset {
  margin: 0 auto;
}

.header {
  outline: 0.5px solid red;
  position: fixed;
  top: 0;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 4px;
  z-index: 10;
  cursor: none;
  width: 100vw;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  outline: 0.5px solid green;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: none;
}

.logo__item {
  display: block;
  margin: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 3rem;
  color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #F97F29;
}

.logo__item:hover {
  -webkit-text-stroke: 2px #DFF296;
}

.header__menu {
  cursor: auto;
}

.menu {
  outline: 0.5px solid green;
  position: relative;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.menu__item {
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  margin: 8px;
}

.menu__item:hover {
  background-color: #F97F29;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu__link {
  padding: 8px;
  line-height: 2rem;
  color: #F5F5F5;
  font-weight: 500;
  text-transform: uppercase;
}

.menu__link:hover {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  font-weight: 900;
  color: #19283F;
}

.cv {
  -webkit-animation: loadCV 10s linear infinite;
          animation: loadCV 10s linear infinite;
}

.cv:hover {
  -webkit-animation: none;
          animation: none;
}

.menu__btn {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
}

main {
  padding-top: 100px;
}

@-webkit-keyframes loadCV {
  0% {
    background-color: inherit;
    opacity: 0.15;
  }
  25% {
    background-color: #DFF296;
    opacity: 0.3;
  }
  50% {
    background-color: #F97F29;
    opacity: 1;
  }
  75% {
    background-color: #DFF296;
    opacity: 0.3;
  }
  100% {
    background-color: inherit;
    opacity: 0.15;
  }
}

@keyframes loadCV {
  0% {
    background-color: inherit;
    opacity: 0.15;
  }
  25% {
    background-color: #DFF296;
    opacity: 0.3;
  }
  50% {
    background-color: #F97F29;
    opacity: 1;
  }
  75% {
    background-color: #DFF296;
    opacity: 0.3;
  }
  100% {
    background-color: inherit;
    opacity: 0.15;
  }
}
/*# sourceMappingURL=style.css.map */